.ping-backgraund {
  background: #ffddcc40;
  border-radius: 30px;
}

.fifth-container {
  height: 614px;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.basement {
  text-align: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: red;
}
.the-fattest-text {
  width: 400px;
  font-size: 46px;
}
.width-500 {
  width: 500px;
  font-size: 17px;
  font-weight: 400;
}
.red-box {
  width: 118px;
  height: 155px;
  border-radius: 15px;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: #eb5757;
  color: aliceblue;
}
.white-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}

.phone-block {
  width: 40%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.phone-view {
  width: 336px;
  height: 93%;
  margin-left: 50px;
  /* margin-bottom: 0; */
  border-radius: 30px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  /* padding: 30px; */
  /* display: flex;
    justify-content: center; */
  /* overflow-y: hidden; */
  background-color: white;
}
.phone-content {
  width: 90%;
  margin-top: 30px;
}

.phone-order-now {
  transform: scale(0.8);
  margin-left: 0;
}

.phone-header {
  width: 90%;

  margin-top: 55px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* .telephone-container{
    width: 300px;
    height: 70vh;
    position: relative;
    background-color: #EB5757;
  } */
.header {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
}

.four-point {
  width: 35px;
  height: 35px;
  border-radius: 18px;
  background: #f2f2f2;
}
.ping-block {
  width: 267px;
  height: 128px;
  background: #fee9de;
  border-radius: 20px;
}
.w-100 {
  width: 110px;
}
.font-size-20 {
  width: 120px;
  font-weight: 700;
  margin-left: 20px;
}
.padd-0 {
  padding: 0;
}
.w-500 {
  width: 500px;
}
.white-burger{
    width: 174px;
    height: 153px;
    position: relative;
    background: #FFFFFF;
box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.1);
border-radius: 30px 30px 0px 0px;
}
