body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
  background: white;
}

body button,
code,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a {
  font-family: "Poppins", sans-serif;
}

.fl-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 100%;
}

.header-position {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.cursor-p {
  cursor: pointer;
  transition: 0.3s all;
}
.slide {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-clm {
  display: flex;
  flex-direction: column;
}
.text-center {
  text-align: center;
}
.heigh-70 {
  height: 70vh;
}
.container {
  width: 1300px;
  height: 100%;
  position: relative;
}
.text_bottom-secondslide{
  width: 200px;
  text-align: center;
}
.just-c{
  display: flex;
  justify-content: center;
}
.height-70{
  height: 70vh;
}

.white-button {
  width: 150px;
  height: 50px;
  background: white;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
  transition: 0.3s all;
  margin-left: 30px;
}
.alin-cent{
  display: flex;
  align-items: center;
}
.just-spacebet{
  display: flex;
  justify-content: space-between;
}
.color-white{
  color: aliceblue;
}
.font-16{
  font-size: 16px;
}
.font-w500{
  font-weight: 500;
}
.pos-abs{
  position: absolute;
}